<!DOCTYPE html><!-- -*- html -*- Time-stamp: <2013-06-16 09:48:16 tamara> 
bootstrap.tmpl - pmwiki skin template for BootstrapSkin

@author Tamara Temple <tamara@tamaratemple.com>
@version 2013-06-16
@copyright &copy; (c) 2013 Tamara Temple Web Development
@license GPLv3 -->
<html>
  <head>
    <title>$WikiTitle &raquo; $Groupspaced &mdash; $Titlespaced</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
      padding-top: 120px;
      padding-bottom: 10px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
      
      @media (max-width: 980px) {
      /* Enable use of floated navbar text */
      .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
      }
      }
    </style>
    <link rel="stylesheet" href="$SkinDirUrl/bootstrap.css" type="text/css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <!-- Don't have these yet
	 <link rel="apple-touch-icon-precomposed" sizes="144x144" href="$SkinDirUrl/assets/ico/apple-touch-icon-144-precomposed.png">
	 <link rel="apple-touch-icon-precomposed" sizes="114x114" href="$SkinDirUrl/assets/ico/apple-touch-icon-114-precomposed.png">
	 <link rel="apple-touch-icon-precomposed" sizes="72x72" href="$SkinDirUrl/assets/ico/apple-touch-icon-72-precomposed.png">
         <link rel="apple-touch-icon-precomposed" href="$SkinDirUrl/assets/ico/apple-touch-icon-57-precomposed.png">
         <link rel="shortcut icon" href="$SkinDirUrl/assets/ico/favicon.png">
	 -->
    <!--HTMLHeader-->
    <!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container-fluid">
	  <a class="brand" href="$ScriptUrl"><img src="$PageLogoUrl"></a>
	  <a class="brand" href="$ScriptUrl">$WikiTitle</a>
	  <div class="nav-collapse collapse">
	    <form action='{$ScriptUrl}' class="form-search pull-right">
	      <input type='hidden' name='n' value='{$FullName}'>
	      <input type='hidden' name='action' value='search'>
	      <a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a>:
	      <input type='text' name='q' value='' class='input-medium search-query'>
	      <button type='submit' class='btn'>$[Go]</button></form>
	  
	    <!--wiki:$SiteGroup.BootstrapSkin-SiteHeader-->
	  </div><!--/.nav-collapse -->
	</div>
	<div class="container-fluid">
	  <div class="nav-collapse collapse">
	    <!--PageActionsFmt-->
	    <!--wiki:$SiteGroup.BootstrapSkin-PageActions-->
	    <!--/PageActionsFmt-->
	  </div>
	</div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <div class="well sidebar-nav">
	  <!--PageLeftFmt-->
	  <!--wiki:$SiteGroup.BootstrapSkin-SideBar-->
	  <!--/PageLeftFmt-->
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
	<!--PageTitleFmt-->
	<!--wiki:$SiteGroup.BootstrapSkin-PageTitle-->
	<!--PageText-->
      </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer class="well">
      <!--PageFooterFmt-->
      <!--wiki:$SiteGroup.BootstrapSkin-SiteFooter-->
      <!--/PageFooterFmt-->
    </footer>

</div><!--/.fluid-container-->

<!--HTMLFooter-->
</body>
</html>
