<!DOCTYPE html><!-- -*- html -*- Time-stamp: <2012-09-20 01:49:55 tamara> 
    mouse.tmpl - pmwiki skin template for MouseSkin

    @author Tamara Temple <tamara@tamaratemple.com>
    @version 2012-09-20
    @copyright &copy; (c) © Tamara Temple Web Development
    @license GPLv3
--><html>
<head>
  <title>$WikiTitle &raquo; $Groupspaced &mdash; $Titlespaced</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!--HTMLHeader-->
  <link rel="stylesheet" href="$SkinDirUrl/mouse.css" type="text/css" charset="utf-8" />
  <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
</head>
<body class='$SkinColor'>
<article>
<header>
<!--PageHeaderFmt-->
<!--wiki:$SiteGroup.MouseSkin-SiteHeader-->
<!--/PageHeaderFmt-->
</header>
<section>
  <!--PageTitleFmt-->
  <!--wiki:$SiteGroup.MouseSkin-PageTitle-->
  <!--PageText-->
</section>
<footer>
  <!--PageFooterFmt-->
  <!--wiki:$SiteGroup.MouseSkin-SiteFooter-->
  <!--/PageFooterFmt-->
</footer>
<div id="pageactionscontainer">
  <nav id="pageactions">
    <!--PageActionsFmt-->
    <!--wiki:$SiteGroup.MouseSkin-PageActions-->
    <!--/PageActionsFmt-->
  </nav>
</div>
</article>
<aside>
<!--PageLeftFmt-->
<!--wiki:$SiteGroup.MouseSkin-SideBar-->
<!--/PageLeftFmt-->
</aside>
<!--HTMLFooter-->
</body>
</html>
